.tabnavigator{
    max-width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:stretch;
    --tabSpacing:2em;
}
.header{
    position:relative;
    max-width:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding:0 var(--tabSpacing) !important;
    column-gap:var(--tabSpacing);
    white-space:nowrap;
    flex-shrink:0;
    overflow:auto hidden;
}
.container{
    max-width:100%;
    flex:1;
    overflow:hidden auto;
}
.indicator{
    position:absolute;
    height:0.8em;
    left:0;
    bottom:0;
    border-radius:10.667em;
}
