.tabview{
    position:relative !important;
    height:10em;
    font-size:1em;
    width:fit-content;
    flex:1;
    display:inline-flex;
    vertical-align:middle;
    justify-content:center;
    align-items:center;
    padding:2.55em 1.7em;
    background-color:transparent;
}
.tabview>img{
    width:5.5em;
    flex-shrink:0;
}
.tabview>label{
    font-family:var(--mainFont);
    font-weight:600;
    font-size:4.2667em;
    white-space:nowrap;
    text-transform:capitalize;
    text-overflow:ellipsis;
    overflow:hidden;
}
.tabview>img+label{
    margin-left:0.31242em;
}

@media(any-hover){
    .tabview:hover,.tabview>*{
        cursor:pointer;
    }
}