.routepicker{
    position:relative;
    width:80%;
    max-width:400px;
    height:100%;
    background-color:white;
    overflow:hidden auto;
    z-index:2;
}
.drawer{
    max-width:100%;
    font-size:5em;
    padding:1em;
    text-transform:capitalize;
    color:rgba(0,0,0,0.85);
    margin-top:0.5em;
    transition:200ms;
}
.drawer[active]{
    color:dodgerblue;
    background-color:rgba(30,144,255,0.15);
}

@media(hover:none){
    .drawer:active{
        background-color:rgba(0,0,0,0.2);
    }
}

@media(any-hover){
    .drawer:hover{
        background-color:rgba(0,0,0,0.2);
    }
}

@keyframes slideRight {
    from{
        transform:translateX(-100%);
    }
    to{
        transform:translateX(0);
    }
}
