.routepicker{
    position:relative;
    width:80%;
    max-width:400px;
    height:100%;
    background-color:white;
    overflow:hidden auto;
    z-index:2;
}
.routepicker::-webkit-scrollbar{
    display:none;
}
.entry{
    max-width:100%;
    font-size:5em;
    padding:1em;
    text-transform:capitalize;
    color:rgba(0,0,0,0.85);
    margin-top:0.5em;
    transition:200ms;
}


@media(hover:none){
    .entry:active{
        background-color:rgba(0,0,0,0.05);
    }
}

@media(any-hover){
    .entry:hover{
        cursor:pointer;
        background-color:rgba(0,0,0,0.05);
    }
}

@keyframes slideRight {
    from{
        transform:translateX(-100%);
    }
    to{
        transform:translateX(0);
    }
}
