.cherryview{
    font-size:1vw; 
}
.cherryview *{
    margin:0;
    padding:0;
    outline:none transparent !important;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
}
.cherryview input:read-write,.cherryview textarea:read-write,.cherryview div[contenteditable]{
    user-select:text;
    -moz-user-select:text;
    -webkit-user-select:text;
    -ms-user-select:text;
}
.cherryview button,.cherryview .button{
    font-size:1em;
    border:none;
    transition:200ms;
}


@media(min-width:15cm){
    .cherryview{
        font-size:0.33vw;
    }
}

@media(hover:none){
    .cherryview button:active,.cherryview .button:active{
        filter:brightness(0.65);
        opacity:0.85;
    }
}

@media(any-hover){
    .cherryview button:hover,.cherryview .button:hover{
        filter:brightness(0.65);
        opacity:0.85;
    }
}

@supports(-webkit-touch-callout:none){
    /* CSS specific to iOS devices */
}
  
@supports not(-webkit-touch-callout:none){
    /* CSS for other than iOS devices */
}
