.entryview{
    max-width:100%;
    display:block;
}
.entryview[folder]{
    margin:1.5em 0;
}
.entryview[folder]+.entryview[folder]{
    margin-top:3em;
}
.entryview[folder]>.header{
    font-weight:bold;
}
.entryview:not([folder])>.header{
    width:fit-content;
    padding:1.5em var(--entryspacing);
    margin:0 calc(-1 * var(--entryspacing));
    border-radius:1.125em;
}
.header{
    position:relative;
    width:fit-content;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-wrap:nowrap;
    transition:var(--transition);
}
.explorer{
    margin-top:1em;
    margin-left:3em;
    overflow:visible !important;
}
.indicator{
    position:absolute;
    width:4em;
    left:0;
    transform:translateX(-100%);
    top:0;bottom:0;margin:auto 0;
    transition:var(--transition);
}
.name{
    font-size:3em;
    white-space:nowrap;
    text-transform:capitalize;
    color:inherit;
    transition:var(--transition);
}
.icon{
    width:4em;
    margin-right:1em;
}

@media(any-hover){
    .header{
        cursor:pointer;
    }
    .header[folder]:hover{
        transform:scale(1.05);
    }
}

@media(hover:none){
    .header[folder]:active{
        transform:scale(1.05);
    }
}
