.contentview{
    position:absolute;
    width:100%;
    height:fit-content;
    left:0;
    bottom:0;
    border-bottom-left-radius:var(--borderRadius);
    border-bottom-right-radius:var(--borderRadius);
    transform:translateY(100%);
    transition:250ms;
    z-index:2;
}