.actionsetview{
    width:fit-content;
    height:fit-content;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:nowrap;
    column-gap:5em;
    overflow:auto hidden;
}
.action{
    position:relative;
}
.action>img{
    min-width:6.4em;
    width:6.4em;
    height:6.4em;
    object-fit:cover;
}
