.accordion{
    position:relative;
    max-width:100%;
    filter:drop-shadow(0px 2px 7px rgba(0,0,0,0.08));
    --paddingHorizontal:3.733em;
    --borderRadius:1.1em;
}
.header{
    max-width:100%;
    column-gap:var(--spacing);
    --spacing:4em;
}
.defaultheader{
    height:16em;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 var(--paddingHorizontal);
    border-radius:var(--borderRadius);
    background-color:white;
    overflow:hidden;
}
.title{
    font-family:var(--mainFont);
    font-weight:700;
    font-size:4.8em;
    white-space:nowrap;
    text-transform:capitalize;
    overflow:auto hidden;
}
.title::-webkit-scrollbar{
    display:none;
}
.tail{
    flex:1;
    min-width:30%;
    display:flex;
    flex-direction:row-reverse;
    justify-content:flex-start;
    align-items:center;
    column-gap:var(--spacing);
    overflow:hidden;
}
.indicator{
    width:6.4em;
}
.actionset{
    flex:1;
    column-gap:var(--spacing) !important;
}

@media(any-hover){
    .defaultheader:hover{
        cursor:pointer;
    }
}
