.drawernavigator{
    position:relative;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:stretch;
    overflow:hidden;
}
.header{
    max-width:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding:4em;
    column-gap:4em;
}
.container{
    max-width:100%;
    flex:1;
    overflow:hidden auto;
}
.showbtn{
    width:6em;
    transition:200ms;
}
.title{
    font-size:6em;
    font-weight:400;
    text-transform:capitalize;
}


@media(hover:none){
    .showbtn:active{
        filter:brightness(0.65);
        opacity:0.2;
    }
}

@media(any-hover){
    .showbtn:hover{
        filter:brightness(0.65);
        opacity:0.2;
        cursor:pointer;
    }
}
