.nativeview{
    font-size:1vw; 
}
.nativeview *{
    margin:0;
    padding:0;
    outline:none transparent !important;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
}
.nativeview input:read-write,.nativeview textarea:read-write,.nativeview div[contenteditable]{
    user-select:text;
    -moz-user-select:text;
    -webkit-user-select:text;
    -ms-user-select:text;
}
.nativeview button,.nativeview .button{
    font-size:1em;
    border:none;
    transition:200ms;
}


@media(min-width:15cm){
    .nativeview{
        font-size:0.33vw;
    }
}

@media(hover:none){
    .nativeview button:active,.nativeview .button:active{
        filter:brightness(0.65);
        opacity:0.85;
    }
}

@media(any-hover){
    .nativeview button:hover,.nativeview .button:hover{
        filter:brightness(0.65);
        opacity:0.85;
    }
}

@supports(-webkit-touch-callout:none){
    /* CSS specific to iOS devices */
}
  
@supports not(-webkit-touch-callout:none){
    /* CSS for other than iOS devices */
}
